/* ------------------------ General Styles---------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --purpleLight: #9222ff;
    --purpleDark: #3b076e;
    --purpleDarker: #270140;
    --veryDarkPurple: #190328;
    --goldDark: #a97b50;
    --goldLight: #d89c65;
}
@keyframes zoomIn {
    0% {transform: scale(1);}
    50% {transform: scale(1.3);}
    100% {transform: scale(1);}
}

*::-moz-selection{ background: #000;color: #bbb;}
*::selection { background: #000;color: #bbb; }
* {margin:0; padding:0; box-sizing: border-box;}
html {font-size:16px;}
/* ------------------- End of General Styles ------------------------*/



/* ------------------------ Header Styles ---------------------------*/
header {
    margin:0;
    display:flex;
    position: relative;
    overflow: hidden;
}
.banner {
    position:relative;
    display:block;
    overflow: hidden;
    z-index:-1;
}
.banner img {
    display:block;
    object-fit: cover;
    height:100vh;
    width:100%;
    pointer-events: none;
    animation: zoomIn 25s ease-in-out infinite;
}
header a {
    text-decoration:none;
}
/* ---------------------- End of Header Styles -------------------------*/



/* ------------------------- Top Nav Styles ----------------------------*/
.nav {
    position:absolute;
    z-index: 1;
    font-family: 'Cinzel';
    display:flex;
    padding: 0px;
    left:50%;
    transform: translateX(-50%);
}
.nav a {color:#fff;}
@media (max-width:1098px){ /* TABLET */
    .nav {left:45%;}
}
@media (max-width:47.9476em) {/* MOBILE */
    .nav {left:0;width:100%;transform: translateX(0)}
}
/* --------------------- End of Top Nav Styles ------------------------*/



/* ----------------------- Nav Links Styles ---------------------------*/
.nav__links {
    padding:35px 0px;
    list-style: none;
}
.nav__links li {
    display: inline-block;
}
.nav__links li:not(:last-child) {
    margin-right:4vw;
}
.nav__links li a{
    transition: color 0.5s ease;
}
.nav__links li a:hover {
    color: var(--purpleLight);
}
/* -------------------- End of Nav Links Styles ------------------------*/


/* -------------------- Book Now Button Styles -------------------------*/
.nav__button.desktop-btn {
    position: absolute;
    right:-20vw;
    padding: 27px 0px;
}
.nav__button button {
    padding:12px 30px;
    background: linear-gradient(var(--purpleDark), var(--purpleDarker));
    border:none;
    outline:none;
    border-radius: 30px;
    color:#fff;
    font-family: 'Cinzel';
    font-size:0.75rem;
    cursor:pointer;
    transition: opacity 0.5s ease;
}
.nav__button button:hover { opacity: 0.8; }
/* ----------------- End of Book Now Button Styles ---------------------*/




/* ---------------- Hamburger Menu Toggle Styles -----------------------*/
.nav__ham-menu-toggle {
    display:flex;
    position:absolute;
    top:7vh;
    right:5vh;
    z-index:1;
}
.nav__ham-menu-toggle p {
    margin-right:10px;
    font-size:1.5rem;
}
.ham-toggle-btn span{
    margin-top:4px;
    display: block;
    width:30px;
    height: 2px;
    background-color: #fff;
    transition:all 300ms ease-in-out;
    transform-origin:1px 1px;
}
.ham-toggle-btn span:not(:last-child) {
    margin-bottom:8px;
}
.ham-toggle-btn.open span:first-child { /* when ham burger is opened */
    transform: rotate(45deg);
}
.ham-toggle-btn.open span:nth-child(2) { /* when ham burger is opened */
    opacity: 0;
}
.ham-toggle-btn.open span:last-child { /* when ham burger is opened */
    transform: rotate(-45deg);
}

.overlay {
    background: linear-gradient(var(--veryDarkPurple), transparent);
    position:fixed;
    z-index:0;
    left:0; right:0; top:0; bottom:0;
    transition:all 300ms ease-in-out;
    opacity: 0;
}

/* ------------- End of Hamburger Menu Toggle Styles -------------------*/



/* ------------------- Hamburger Actual Menu Styles --------------------*/
.nav__ham-menu {
    position:absolute;
    background: #fff;
    border-radius: 10px;
    z-index:2;
    color: var(--purpleDark);
    font-family: 'Cinzel';
    font-size: 1.25rem;
    width:95%;
    margin:8rem 0 0 2.25vw;
    padding:2.5rem 0;
    visibility: hidden;
}
.nav__ham-menu a {display:block; text-align:center;}
.nav__ham-menu a:not(:last-child) {margin-bottom:3rem;}
.nav__button.mobile-btn button {font-size:1rem;padding: 14px 40px;}



/* ------------- End of Hamburger Actual Menu Styles -------------------*/

.header-main {
    position:absolute; z-index: 1;
    top:20vh;
    left:50%;
    transform: translateX(-50%);
    text-align:center;
}
@media (max-width:47.9476em) {/* MOBILE */
    .header-main { top: 25vh; }
}

/* ------------------------- Logo Styes --------------------------------*/
.logo { position:relative; }
.logo img{ width:33vw; }
@media (min-width: 40.001em) and (max-width:68.625em){ /* TABLET */
    .logo img {width:50vw;}
}
@media (max-width:40em) {/* MOBILE */
    .logo img { width: 75vw;}
}

/* ----------------------- End of Logo Styes ---------------------------*/



/* ---------------------- Under Logo Styes -----------------------------*/
    /* PARAGRAPH */
.under-logo {
    margin-top: 5vh;
    position: relative;
    color:#fff;
    font-family: 'Roboto';
}

.ul__text { text-shadow: 0px 2px 4px #000; }
.ul__text { font-size:1.65rem; }
@media (min-width: 47.9477em) and (max-width:68.625em){ /* TABLET */
    .ul__text { font-size:1.5rem; }
}
@media (max-width:47.9476em) {/* MOBILE */
    .ul__text { font-size: 1.3rem;}
}



    /* BUTTON */
.ul__button button {
    background: var(--purpleDark);
    outline:none;
    border:none;
    border-radius:20px;
    padding: 12px 25px;
    font-family: 'Cinzel';
    color:#fff;
    cursor: pointer;
    transition: opacity 500ms ease;
    margin-top:5vh;
}
.ul__button button:hover { opacity:0.8; }

.ul__button button{ font-size:1rem; }
@media (min-width: 68.625em) and (max-width:68.625em){ /* TABLET */
    .ul__button button { font-size: 0.9rem; }
}
@media (max-width:47.9476em) {/* MOBILE */
    .ul__button button{ font-size: 0.7rem;}
}



/* ------------------- End of Under Logo Styes -------------------------*/


/* BREAKPOINTS : 280 - 768 - 1024 - 1400*/
@media (min-width:768px){ /* TABLET */

}
@media only screen and (min-width:280px) and (max-width:800px) { /* MOBILE */

}
@media only screen and (max-width:280px) { /* TINY SCREENS */

}
/* ----------------------- General Styles ----------------------- */

.visible {visibility: visible; opacity: 1;}
@media (max-width: 47.9376em){ /* MOBILE */
    .hide-for-mobile { display:none; }
}
@media (min-width: 47.9375em){ /* DESKTOP */
    .hide-for-desktop { display:none; }
}

main {height:100vh;}